<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New medicine</title>
</head>
<body>

<form th:method="POST" th:action="@{/medicines}" th:object="${medicine}" >
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="dose">Enter dose (mg):</label>
    <input type="text" th:field="*{dose}" id="dose"/>
    <div style="color:red" th:if="${#fields.hasErrors('dose')}" th:errors="*{dose}">Dose error</div>

    <br/>
    <label for="price">Enter price:</label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>

    <div class="form-group">
        <label th:for="reactiveList">Measured unit: </label>
        <select th:field="*{reactive.id}">
            <option th:each="reactive : ${reactiveList}"
                    th:text="${reactive.name}"
                    th:value="${reactive.id}"></option>
        </select>
    </div>

    <br/>
    <input type="submit" value="Create">
</form>

</body>
</html>