<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Medicines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column min-vh-100">

<header>
    <!--  Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: #1e1e1e">
        <div class="container">
            <a href="/reactives" class="navbar-brand" style="color: #62B2e9">Pharma-Reactive</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/reactives" class="nav-link">Reactives</a>
                    </li>
                    <li class="nav-item">
                        <a href="/medicines" class="nav-link active">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a href="/accounts" class="nav-link" sec:authorize="hasAnyRole('ADMIN')">Accounts</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown" style="background-color: #252526">
                        <a class="nav-link dropdown-toggle text-light px-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:inline="text">
                            <i class="bi bi-person-fill me-2"></i>
                            [[${authentication.getName()}]]
                        </a>
                        <ul class="dropdown-menu text-center">
                            <li><a class="dropdown-item" href="/cart">Shopping Cart</a></li>
                            <li><a class="dropdown-item" href="/orders">My Orders</a></li>

                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <form th:action="@{/logout}" th:method="POST">
                                    <input class="btn btn-danger" type="submit" value="Logout"/>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--  Showcase -->
    <section class="text-light p-5 text-left text-sm-start" style="background-color: #252526">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between" >
                <h1>Information about a <span style="color: #62B2e9">Medicine</span> </h1>
                <p class="lead my-4">
                    Here you can see the information about the medicine and add it to your shopping cart, if you want.
                </p>
            </div>
        </div>
    </section>
</header>

<main class="flex-grow-1" style="background-color: #448cc2">
    <!-- Card -->
    <div class="container p-5 ">
        <div class="card col-lg-6 col-sm-12 m-auto p-2">
            <div class="text-center pt-2">
                <img th:src="@{/images/medicine-icon.png}" width="200px" >
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${medicine.getName()}">Medicine name</h5>
                <p class="card-text">
                    Medicines are pharmaceutical products used to prevent,
                    treat or ameliorate various conditions and diseases. They
                    contain active substances that act on the body in different
                    ways, aiming to restore the patient's health and well-being.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="d-inline">Reactive: </p>
                    <p class="h6 d-inline" th:text="${medicine.getReactive().getName()}">Reactive name</p>
                </li>
                <li class="list-group-item">
                    <p class="d-inline">Dose: </p>
                    <p class="h6 d-inline" th:text="${medicine.getDose() + ' mg'}">100 mg</p>
                </li>
                <li class="list-group-item">
                    <p class="d-inline">Price: </p>
                    <p class="h6 d-inline" th:text="${medicine.getPrice() + ' mg'}">10 mdl</p>
                </li>
                <li class="list-group-item text-success">
                    <p class="h6 d-inline">Stock: </p>
                    <p class="h6 d-inline" th:text="${medicine.reactive.stock div medicine.dose}">110</p>
                </li>

                <li class="list-group-item ">
                    <form class="p-2 text-center" th:method="POST" th:action="@{/cart/add/{id}(id=${medicine.id})}"
                          th:object="${cartItem}">

                        <i class="bi bi-cart-plus-fill"></i>
                        <p class="h6 d-inline">Add to My Shopping Cart: </p>
                        <input type="number" class="btn btn-number rounded-0"
                               style="border-color: #ccc; width: 5rem;"
                               th:field="*{quantity}" min="1" th:max="${medicine.reactive.stock div medicine.dose}"  value="1">

                        <button class="btn btn-danger rounded-0">Add</button>
                    </form>
                </li>
            </ul>

            <div class="card-body text-start mb-2 text-center" sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')">
                <a th:href="@{/medicines/{id}/edit(id=${medicine.getId()})}" class="btn btn-primary rounded-0 d-inline py-2 px-5">Edit</a>
                <form class="d-inline" th:method="DELETE" th:action="@{/medicines/{id}(id=${medicine.getId()})}">
                    <button class="btn btn-danger btn-sm rounded-0 d-inline py-2 px-5" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    </section>
</main>

<!-- Footer -->
<footer class="p-5 bg-dark text-light text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2023 Practica Anul 4</p>
    </div>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1" style="color: #ccc"></i>
    </a>
</footer>

</body>
</html>